;adapter driver stlink
transport select hla_swd

adapter speed 500

# reset 策略：只用 SRST，引导时就拉住
reset_config srst_only srst_nogate connect_assert_srst

# target
source [find target/stm32f1x.cfg]

init
;# 复位并停住 CPU，防止固件关 SWD
reset halt